opencv-python
PySide6
Pillow
numpy
requests
winrt-Windows.Media.Control
winrt-Windows.Foundation
winrt-Windows.Foundation.Collections
winrt-Windows.Storage.Streams
matplotlib

onnxruntime-directml
ultralytics

onnx
onnxslim

onnxruntime-genai-directml
huggingface_hub
